fieldset {
    width: 30%;
    background-color: pink;
}
.button {
    border-radius: 25px;
    margin-left: 30px;
    padding: 15px;
    background-color: liner-gradient( dodgerBlue);
    cursor: pointer;
    transition: transform 1s ease-in-out;
}
.name {
    background-color: rgba(0, 112, 79, 0.178);
}
.age {
    background-color: rgba(45, 143, 189, 0.384);
}
.select {
    background-color: rgba(37, 204, 154, 0.404);
}
.button :hover {
    cursor: pointer;
    transform: rotate(180deg);
}
body {
    background-color: lightblue;
}
p {
    font-family: verdana;
    font-size: 20px;
    text-shadow: 1px 1px;
}   
fieldset {
width: 5%;
}  
   